<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="place">
	
	<select id="sequnece" resultType="int">
		select place_seq.nextval from dual
	</select>
	
	<insert id="placeInsert" parameterType="PlanInsertServiceVO">
		insert into place values(
			#{placeNo}, #{placeLatitude}, #{placeLongitude}, #{placeName}, #{placeType}
		)	
	</insert>
	
	<select id="placeListService" parameterType="int" resultType="PlaceListServiceVO">
		select * from place p left outer join dailyplan dp on p.place_no = dp.place_no where dp.daily_no = #{dailyNo}
	</select>
	
</mapper>