<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

	<!-- 회원가입 -->
	<insert id="join" parameterType="MemberDto">
		insert into member values(
			member_seq.nextval, #{memberId}, #{memberPw}, 
			#{memberNick}, #{memberEmail}, #{memberName}, 
			#{memberBirth}, #{memberGender},
			#{memberGrade}, #{memberIntro}, #{memberState}
		)
	</insert>
	
	<!-- 로그인 -->
	<select id="login" parameterType="MemberDto" resultType="MemberDto">
		select * from member where 
			member_id = #{memberId} 
			and member_pw = #{memberPw}
	</select>
	
	<!-- 회원정보 조회(프로필 편집) -->
	<select id="findInfo" parameterType="int" resultType="MemberDto">
		select member_nick, member_name, member_email, member_gender, member_intro
		from member where member_no = #{memberNo}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="findId" parameterType="MemberDto" resultType="MemberDto">
		select member_id, member_email, member_name from member where 
		member_email = #{memberEmail} and member_name = #{memberName}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="findPw" parameterType="MemberVo" resultType="MemberVo"> 
		select member_id, member_email, member_no from member where 
		member_email = #{memberEmail} and member_id = #{memberId}
	</select>
	
	<!-- 닉네임으로 회원 조회 -->
	<select id="findWithNick" parameterType="String" resultType="MemberDto"> 
		select * from member where 
		member_nick = #{memberNick}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="updatePw" parameterType="MemberDto">
		update member set member_pw = #{memberPw} where member_id = #{memberId}
	</update>
	
	<!-- 마이페이지 수정 -->
	<update id="editProfile" parameterType="MemberDto">
		update member set member_name = #{memberName}, member_nick = #{memberNick},
		member_intro = #{memberIntro}, member_email = #{memberEmail}, 
		member_gender = #{memberGender} where member_no = #{memberNo}
	</update>
	
	<!-- 아이디 중복 체크 -->
	<select id="idCheck" parameterType="MemberVo" resultType="int">
		select count(*) from member where member_id = #{memberId}
	</select>
	
	<!-- 닉네임 중복 체크 -->
	<select id="nickCheck" parameterType="MemberVo" resultType="MemberVo">
		select member_nick from member where member_nick = #{memberNick}
	</select>
	
	<!-- 회원 탈퇴 -->
	<delete id="exit" parameterType="MemberVo">
		delete from member where member_id = #{memberId}
	</delete>
</mapper>