<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="planner">
	
	<select id="sequnece" resultType="int">
		select planner_seq.nextval from dual
	</select>
	
	<insert id="plannerInsert" parameterType="PlanInsertServiceVO">
		insert into planner values(
			#{plannerNo}, #{plannerStartDate}, #{plannerEndDate}, 'Y', #{plannerName}, #{memberNo}
		)
	</insert>	
	
	<!-- 통합 계획표 수정 -->
	<update id="plannerUpdate" parameterType="PlanInsertServiceVO">
		update planner set
			planner_start_date = #{plannerStartDate},
			planner_end_date = #{plannerEndDate},
<!-- 			planner_open = #{plannerOpen}, -->
			planner_name = #{plannerName}
		where planner_no = #{plannerNo}
	</update>
	
	<!-- 통합 계획표 삭제 -->
	<delete id="plannerDelete" parameterType="int">
		delete planner where planner_no = #{plannerNo}
	</delete>
	
	<!-- 상세 페이지 데이터 조회 -->
	<select id="selectPlan" parameterType="ResultPlanVO" resultType="ResultPlanVO">
		select * from result_plan 
		where member_no = #{memberNo} and planner_no = #{plannerNo}
	</select>
	
	<!-- 포토스토리 이미지 조회 -->
	<select id="selectPhoto" parameterType="FindPhotoVO" resultType="FindPhotoVO">
		select * from result_plan_photo where planner_no = #{plannerNo} and member_no = #{memberNo}
	</select>
</mapper>