<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="creport">

	<!-- 댓글 신고 등록 -->
	<insert id="cReportInsert" parameterType="CommentReportDto">
		insert into comment_report values(
			report_seq.nextval, 
			#{memberNo}, #{photostoryCommentNo}, #{cReportReason},'N'
		)
	</insert>

	
	<select id="count" resultType="int">
		select count(*) from comment_report
	</select>
	<select id="ncount" resultType="int">
		select count(*) from comment_report where report_confirm = 'N'
	</select>
	<select id="ycount" resultType="int">
		select count(*) from comment_report where report_confirm = 'Y'
	</select>
	
	<select id="memberReportList" parameterType="int" resultType="ReportVo">
		select m.member_no,m.member_nick,p.report_no,p.photostory_comment_no no,p.c_report_reason reason, p.report_confirm report_confirm
		        from comment_report p
		        inner join Photostory_comment pc 
		        on pc.Photostory_comment_no= p.photostory_comment_no
		        inner join member m
		        on pc.member_no = m.member_no
		        where m.member_no = #{memberNo}
	</select>
	<select id="list" parameterType="PageVo" resultType="ReportVo">
		select * from (
			select rownum rn, tmp.* from (
				select p.member_no,m.member_nick,p.report_no,p.photostory_comment_no no,p.c_report_reason reason, p.report_confirm report_confirm
				from comment_report p
				    inner join member m 
				    on m.member_no= p.member_no
			) tmp
		) where rn between #{startRow} and #{endRow}
	</select>
	<select id="ylist" parameterType="PageVo" resultType="ReportVo">
		select * from (
			select rownum rn, tmp.* from (
				select p.member_no,m.member_nick,p.report_no,p.photostory_comment_no no,p.c_report_reason reason , p.report_confirm report_confirm
				from comment_report p
				    inner join member m 
				    on m.member_no= p.member_no
				    where report_confirm = 'Y'
			) tmp
		) where rn between #{startRow} and #{endRow}
	</select>
	<select id="nlist" parameterType="PageVo" resultType="ReportVo">
		select * from (
			select rownum rn, tmp.* from (
				select p.member_no,m.member_nick,p.report_no,p.photostory_comment_no no,p.c_report_reason reason , p.report_confirm report_confirm
				from comment_report p
				    inner join member m 
				    on m.member_no= p.member_no
				    where report_confirm = 'N'
			) tmp
		) where rn between #{startRow} and #{endRow}
	</select>
	
	<update id="confirm" parameterType="int">
		update comment_report set report_confirm='Y' where photostory_comment_no=#{reportNo}
	</update>
	<delete id="delete" parameterType="int">
		delete comment_report where report_no=#{reportNo}
	</delete>
</mapper>