<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

	<!-- 포토스트리 신고 등록 -->
	<insert id="pReportInsert" parameterType="CommentReportDto">
		insert into comment_report values(
			photostory_report_seq.nextval, 
			#{memberNo}, #{pReportNo}, #{pReportReason}, 
			#{pReportResult}
		)
	</insert>
	
</mapper>