<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="photostory">
	
	<!-- 포토스토리 리스트 -->
	<select id="list" parameterType="PhotostoryVO" resultType="PhotoStoryDto">
		select * from (
			select rownum rn, tmp.* from (
				select * from photostory
				<where>
					<if test="searchType != null and searchKeyword != null">
						<![CDATA[
							instr(${searchType}, #{searchKeyword}) > 0
						]]>
					</if>
				</where>
				order by photostory_no desc
			) tmp
		) where rn between #{startRow} and #{endRow}
	</select>
	
	<!-- 총 포토스토리 개수 -->
	<select id="photostoryCount" parameterType="PhotostoryVO" resultType="int">
		select count(photostory_no) from photostory
		<where>
			<if test="searchType != null and searchKeyword != null">
				<![CDATA[
					instr(${searchType}, #{searchKeyword}) > 0
				]]>
			</if>
		</where>
	</select>
	
	<!-- 포토스토리 작성 -->
	<insert id="write" parameterType="PhotostoryDto">
		insert into
		photostory(photostory_no, planner_no, member_no, photostory_title, photostory_content, photostory_date)
		values(photostory_seq.nextval, #{plannerNo}, #{memberNo}, #{photostoryTitle}, #{photostoryContent}, sysdate)
	</insert>
</mapper>