<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="photostory">
	
	<!-- 총 포토스토리 개수 -->
	<select id="getPhotostoryCount" parameterType="PhotostoryListVO" resultType="int">
		select count(photostory_no) from photostory
		<where>
			<if test="searchType != null and searchKeyword != null">
				<![CDATA[
					instr(${searchType}, #{searchKeyword}) > 0
				]]>
			</if>
		</where>
	</select>
	
	<!-- 포토스토리 번호 획득 -->
	<select id="getSequence" resultType="int">
		select photostory_seq.nextval from dual
	</select>
	
	<!-- 포토스토리 작성 -->
	<insert id="insert" parameterType="PhotostoryDto">
		insert into
		photostory(photostory_no, planner_no, member_no, photostory_content)
		values(#{photostoryNo}, #{plannerNo}, #{memberNo}, #{photostoryContent})
	</insert>
	
	<!-- 포토스토리 수정 -->
	<update id="update" parameterType="PhotostoryDto">
		update photostory
		set planner_no = #{plannerNo}, photostory_content = #{photostoryContent}
		where photostory_no = #{photostoryNo}
	</update>
	
	<!-- 포토스토리 삭제 -->
	<delete id="delete" parameterType="int">
		delete photostory where photostory_no = #{photostoryNo}
	</delete>
	
	<!-- 포토스토리 좋아요 수 갱신 -->
	<update id="refreshPhotostoryLikeCount" parameterType="int">
		update photostory set photostory_like_count = 
			(select count(*) from photostory_like where photostory_no = #{photostoryNo})
		where photostory_no = #{photostoryNo}
	</update>
	
	<!-- 포토스토리 좋아요 수 조회 -->
	<select id="getPhotostoryLikeCount" parameterType="int">
		select photostory_like_count from photostory where photostory_no = #{photostoryNo} 
	</select>
	
	<!-- 포토스토리 댓글 수 갱신 -->
	<update id="refreshPhotostoryCommentCount" parameterType="int">
		update photostory set photostory_comment_count =
			(select count(*) from photostory_comment where photostory_no = #{photostoryNo})
		where photostory_no = #{photostoryNo}
	</update>
	
	<!-- 포토스토리 댓글 수 조회 -->
	<select id="getPhotostoryCommentCount" parameterType="int">
		select photostory_comment_count from photostory where photostory_no = #{photostoryNo}
	</select>
	
</mapper>