<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="photostoryCommentList">
	
	<!-- 포토스토리 댓글 리스트 조회 -->
	<select id="list" parameterType="int" resultType="PhotostoryCommentListDto">
		select * from photostory_comment_list where photostory_no = #{photostoryNo}
	</select>
	
	<!-- 포토스토리 최신 댓글 리스트 조회 -->
	<select id="recentList" parameterType="int" resultType="PhotostoryCommentListDto">
		select * from (
			select rownum rn, tmp.* from (
				select * from photostory_comment_list where photostory_no = #{photostoryNo}
				order by photostory_comment_date desc
			) tmp
		) where rn between 1 and 3
	</select>
	
</mapper>