<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="photostoryPhoto">
	
	<!-- 이미지 등록 -->
	<insert id="insert" parameterType="PhotostoryPhotoDto">
		insert into photostory_photo(
			photostory_photo_no,
			photostory_no,
			photostory_photo_file_path,
			photostory_photo_file_size
		)
		values(
			photostory_photo_seq.nextval,
			#{photostoryNo},
			#{photostoryPhotoFilePath},
			#{photostoryPhotoFileSize}
		)
	</insert>
	
	<!-- 이미지 삭제 -->
	<delete id="delete" parameterType="int">
		delete photostory_photo where photostory_photo_no = #{photostoryPhotoNo}
	</delete>

	<!-- 이미지 삭제(포토스토리 번호로) -->
	<delete id="deleteByPhotostoryNo" parameterType="int">
		delete photostory_photo where photostory_no = #{photostoryNo}
	</delete>
	
	<!-- 이미지 리스트 조회 -->
	<select id="get" resultType="PhotostoryPhotoDto" parameterType="int">
		select * from photostory_photo where photostory_no = #{photostoryNo}
	</select>
	
	<!-- 이미지 단일 조회 -->
	<select id="getSingle" resultType="PhotostoryPhotoDto" parameterType="int">
		select * from photostory_photo where photostory_photo_no = #{photostoryPhotoNo}
	</select>
	
</mapper>